.header {
  font-weight: bold;
  border-bottom:2px solid white;
  font-size:12px;
  
}

ion-col {
  overflow: hidden;  
  text-overflow: ellipsis;
}

.data-row {
  border-bottom:2px solid rgba(255,255,255,0.3);
}

ion-select {
  background-color: var(--ion-color-primary);
  border-radius: 30px;
  color:white;
  padding:2px 20px;
}

ion-select::part(icon)
{
  color:white !important;
}

@media (max-width: 650px) {

  .data-row {
    font-size:12px;
  }
  .header {

    
    ion-col {
      writing-mode:vertical-rl;
    }
  
  }

}
