<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="games" href="/tabs/games">
      <ion-icon aria-hidden="true" name="game-controller"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="players" href="/tabs/players">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Players</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
