.flex-col-center
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.flex-col-vertical-center
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}